<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.xch.dao.UserMapper">
    <!--修改信息-->
    <update id="updateOneUser" parameterType="User">
        update user
        <set>
            <if test="phone!=null">phone=#{phone},</if>
            <if test="password!=null">password=#{password},</if>
            <if test="salt!=null">salt=#{salt},</if>
            <if test="status!=null">status=#{status},</if>
            <if test="picImg!=null">pic_img=#{picImg},</if>
            <if test="name!=null">name=#{name},</if>
            <if test="legalName!=null">legal_name=#{legalName},</if>
            <if test="sex!=null">sex=#{sex},</if>
            <if test="city!=null">city=#{city},</if>
            <if test="sign!=null">sign=#{sign},</if>
            <if test="regTime!=null">reg_time=#{regTime},</if>
            <if test="guruId!=null">guru_id=#{guruId}</if>
        </set>
        where id=#{id}
    </update>

    <!--统计月份-->
    <select id="selectStatisticsMonth" resultType="Statistics">
        select city,count(*) from user where sex=#{sex} group by city
    </select>
    <!--统计分布地区-->
    <select id="selectStatisticsCity" resultType="CityStatistics">
        select city name,count(*) value from user where sex=#{sex} group by city
    </select>

</mapper>
        <!--id, phone,password,salt,status,picImg,name,legalName,sex;
            ,city,sign,regTime,guruId;-->